<div class="container-fluid">
    <!--PROYECTOS-->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 id="proyectos-texto" class="fw-bold text-center mt-5">Proyectos</h2>
        <p id="descripcion-proyectos" class="fs-6 mt-3 pb-3 text-center">
          Algunos de los proyectos en los que he trabajado implementando diversas tecnologías.
        </p>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="d-flex justify-content-center mb-3">
          <button class="button">
            <i type="button" data-bs-toggle="modal" data-bs-target="#newinversion-modalLabel">Nuevo Proyecto</i>
          </button>
        </div>
        <app-m-new-inversion></app-m-new-inversion>
  
        <div class="container-fluid mx-auto text-center border-celeste">
          
          <a href="https://github.com/NicolasPozzer" target="_blank">
            <li class="list-group-item">
              <i class="fa-brands fa-github fa-2xl">
                My Github
              </i>
            </li>
          </a>
        </div>
        <br><br><br>
        
      </div>
      
    </div>
  
    
  
  </div>