<div class="container-fluid">
    <!--TEXTO PARA AGREGAR
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p id="descripcion-proyectos" class="fs-6 mt-3 pb-3 text-center">
          Algunos de los proyectos en los que he trabajado implementando diversas tecnologías.
        </p>
      </div>
    </div>-->
  
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="d-flex justify-content-center mb-3">
          <button class="button">
            <i type="button" data-bs-toggle="modal" data-bs-target="#newinversion-modalLabel">Agregar Inversion</i>
          </button>
        </div>
        <app-m-new-inversion></app-m-new-inversion>
        
      </div>
      
    </div>
  
    
  
  </div>