<div class="container-md text-center">
    <div id="container-general">
        <div id="titulo" class="text-center">
            <h2 id="proyectos-texto" class="fw-bold text-center mt-5">Myinvest <i class="fa-solid fa-piggy-bank"></i></h2>
            <app-grafica></app-grafica>
        </div>

        <div id="input-section-dropdown">
            <app-new-inversion></app-new-inversion>
        </div>

        <!-- Mi Firma -->
        <div id="firma">
            <a href="https://github.com/NicolasPozzer" target="_blank">
                <li class="list-group-item">
                    <i class="fa-brands fa-github fa-2xl">
        
                    </i>
                </li>
            </a>
            <p id="letra">by Niko7even</p>
        </div>
        
    </div>

   <app-listado-inversiones></app-listado-inversiones>

</div>